/* 
========================
* font family: google fonts
# openSans
# Roboto
========================
*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap");

/* 
========================
* Reset styles
========================
*/

:root {
  --primary-color: #003865;
  --secondary-color: #ef5b0c;
  --normal-color: #3ccf4e;
  --background-color: #d4f6cc;
  --heading-font: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --normal-font: "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;

  --text-shadow: 2px 3px 4px whitesmoke;
  --border-radius: 0.5rem;
  --transition: all 0.8s ease-in-out;
  --box-shadow-1: 2px 4px 6px #000;
  --box-shadow-2: 4px 6px 8px #000;
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: var(--normal-font);
  background: rgb(2, 0, 36);
  background: linear-gradient(
      114deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(1, 15, 121, 1) 23%,
      rgba(0, 24, 168, 1) 42%,
      rgba(0, 34, 173, 1) 66%,
      rgba(0, 207, 174, 1) 86%,
      rgba(0, 255, 176, 1) 100%
    )
    no-repeat center/cover;
  min-height: 80vh;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: auto;
}

/* 
========================
!end of the Reset styles
========================
*/

.section-center {
  max-width: 1170px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 20vh;
  width: 80vw;
  border-radius: 1rem;
  background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
  box-shadow: var(--box-shadow-1);
  transition: var(--transition);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.popup {
  text-align: center;
  padding: 0.5rem;
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  color: whitesmoke;
  letter-spacing: 2px;
  opacity: 0.9;
  width: 98%;
  margin: 0 auto;
}

.heading {
  margin-top: 0.5rem;
  text-align: center;
  padding: 1rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-weight: bold;
  background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
  color: whitesmoke;
}

.form {
  display: flex;
  justify-content: center;
}
.form-input {
  border: transparent;
  outline: transparent;
  width: 70%;
  font-size: 1.5rem;
  padding-left: 0.2rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  transition: var(--transition);
}

.form-input:focus {
  border: 5px solid rgba(0, 0, 0, 0.335);
}

.form-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0.6rem;
  border: transparent;
  outline: transparent;
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
  text-transform: capitalize;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
  color: black;
}

.container {
  margin-top: 2rem;
}

.container-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: var(--transition);
  padding: 0.25rem 1rem;
  border-radius: 0.4rem;
  text-transform: capitalize;
  background-color: #fff;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  color: gray;
  letter-spacing: 2px;
  transition: var(--transition);
  cursor: pointer;
}

.container-row:hover {
  color: #000;
  background-color: rgba(255, 255, 255, 0.586);
}

.clear-btn {
  display: block;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin: 0 auto;
  margin-top: 2rem;
  border: transparent;
  background-color: #008b8b;
  color: white;
  cursor: pointer;
  border-radius: 2rem;
  font-weight: bold;
  box-shadow: var(--box-shadow-1);
  transition: var(--transition);
}

.clear-btn:hover {
  background-color: #fff;
  box-shadow: var(--box-shadow-2);
  transform: translateY(10%);
  color: #008b8b;
}

.btn-edit,
.btn-delete {
  padding: 0.5rem;
  border: transparent;
  background-color: white;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.btn-edit {
  color: #003865;
}
.btn-delete {
  color: red;
}
